body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Homepage styling*/
.thick {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
}

.sign-up {
  margin-top: 20px;
}

.about {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.has-background {
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.is-transparent {
  opacity: 0.3;
}
/*Navbar styling*/
.fa-paw {
  font-size: 30px;
}
/*Signup styling*/
.content {
  text-align: center;
}