#demo-svg path {
    stroke-dasharray: 520;
    stroke-dashoffset: 0;
  }

  .centered {
    /* position: fixed; */
    right: 25%;
    /* bottom: 10%; */
    -webkit-transform: translateX(30%) translateY(1%);
    -ms-transform: translateX(30%) translateY(1%);
    transform: translateX(30%) translateY(1%);
  }

  .behind {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: -1;
  }