#demo-svg path {
    stroke-dasharray: 520;
    stroke-dashoffset: 0;
  }

  .centered {
    right: 25%;
    -webkit-transform: translateX(28%) translateY(29%);
    -ms-transform: translateX(28%) translateY(29%);
    transform: translateX(28%) translateY(29%);
  }

  svg {
    position: absolute;
    z-index: 1;
  }